@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    --white:#fdfdfd;
    --blue:#1e90ff;
    --black:#000000;
    --grey:#383838;
    
    color:var(--white);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
/* General Placement */
body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),black,  black), url("./cover1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

Header{
    display: flex;
    background-color: var(--grey);
    justify-content: space-between;

}



/* ....................RIGHT HEADER..................... */

.rightHeader{
    display: flex;
    flex-direction: column;

}  

.hiddenHeader{
    display: none;
}


#nav-icon1 span{
    display: block;
    background-color: white;
    margin:10px;
    height: 4px;
    width:40px;
    border-radius: 2px;
}

#nav-menu1:checked ~ #nav-icon1 span:nth-child(1){
    transform: rotate(135deg) translate(21px,-13px)
}

#nav-menu1:checked ~ #nav-icon1 span:nth-child(2){
    opacity: 0;
}


#nav-menu1:checked ~ #nav-icon1 span:nth-child(3){
    transform: rotate(-135deg) translate(3px);
    top:-7px;
}

input[type="checkbox"]{
    display: none;
}
#nav-icon1 span{
    cursor: pointer;
    transition: .25s ease-in-out;
}


#nav-icon1 span{
    position:relative;
    left:0;

}

#nav-menu1:checked ~ #nav-icon1 span:nth-child(2){
    opacity: 0;
    left: -60px;

}




.dropDown{
    display: none;
} 



/* ........................................................... */

.currentAlbum{
    position: relative;
}
.main-img{
  
    
}

/* i{
    font-size: 2rem;
} */

.others{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.album1{
    background-image: url("./cover2.jpg");
    background-size: cover;
    width: 400px;
    height: 400px;
}
.album2{
    background-image: url("./cover3.jpg");
    background-size: cover;
    width: 400px;
    height: 400px;
}
.album3{
    background-image: url("./cover4.jpg");
    background-size: cover;
    width: 400px;
    height: 400px;
}
.album4{
    background-image: url("./cover5.jpg");
    background-size: cover;
    width: 400px;
    height: 400px;
}
.album5{
    background-image: url("./cover6.jpg");
    background-size: cover;
    width: 400px;
    height: 400px;
}

.album6{
    background-image: url("./cover7.jpg");
    background-size: cover;
    width: 400px;
    height: 400px;
}

.main

.links{
    display: grid;
    grid-template-areas: 
    "left middle right";
}
.linksLeft{
    grid-area: left;
}
.linksMiddle{
    grid-area: middle;
}
.linksRight{
    grid-area: right;
}
li{
    list-style-type: none;
}
.linksSmaller{
    font-size: 1rem;;
}







input{
    background-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
}

footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
}


.trackList table{
    width: 100%;

}
.tableSmaller{
    font-size: 1rem;
}